.page-footer
  %footer
    %nav.footer-nav
      %ul
        %li
          %a{:href => "about.html"} Главная
        %li
          %a{:href => "projects.html"} О клубе
        %li
          %a{:href => "service-inside.html"} Новости
        %li
          %a{:href => "#contacts"} Залы
        %li
          %a{:href => "#contacts"} Тренеры
        %li
          %a{:href => "#contacts"} Спортсмены
        %li
          %a{:href => "#contacts"} Галерея
        %li
          %a{:href => "#contacts"} Магазин
        %li
          %a{:href => "#contacts"} Контакты
      .pull-right.social-links
        %a.social-box.vk(href="#")
          %img(src="images/vk.png" )
        %a.social-box.you(href="#")
          %img(src="images/fb.png" )
        %a.social-box.you(href="#")
          %img(src="images/you.png" )
        %a.social-box.inst(href="#")
          %img(src="images/inst.png" )
    .footer-info
      .row
        .col-xs-4
          .foot-head
            © 2013 Asgard club
          %p
            Использование материалов Asgardclub.ru
            %br
            разрешено только с предварительного
            %br
            согласия правообладателей.
        .col-xs-4
          .foot-head
            © 2013 Asgard club
          %p.text
            м. Чертановская, Варшавское шоссе,
            %br
            д. 118 корп. 1
        .col-xs-4
          .foot-head
            8 (988) 222-98-97
          %p.text
            м. Чертановская, Кубинка ул., 7
%script{:src => "js/main.js", :type => "text/javascript"}